:root {
  --ff-nunito: 'Nunit', 'Arial Rounded MT Bold', 'Helvetica Rounded', Georgia, sans-serif;
  --h1-size: calc(1.5rem + 1vw);
  --h2-size: calc(.8rem + 1vw);

  --btn-font-color: rgba(250, 250, 250, .75);
  --accent-color: #a6b611;
  --btn-hover-bg-color: rgba(250, 250, 250, .5);
  --modal-bg-color: rgba(166, 182, 17, .9);
  --modal-close-bg-color: transparent;
  --modal-close-hover-color: red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-nunito);
  color: white;
  background-color: black;
  position: relative;
  padding: 4%;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 500;
}

h2 {
  font-size: var(--h2-size);
  font-weight: 300;
}

.header-logo {
  width: 75px;
}

.torre-title {
  font-size: 2.5rem;
}

.accent-text {
  color: var(--accent-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-and-company {
  display: flex;
  align-items: center;
}

.torre-title {
  margin-left: .25em;
}

.nav-btn {
  cursor: pointer;
  border: 0;
  background: transparent;
  position: absolute;
}

.messages-btn {
  background: url('images/Orion_messaging.png');
  background-size: cover;
  height: 40px;
  width: 40px;
  top: 36px;
  right: 65px;
}

.signal-btn {
  background: url('images/Orion_cellular-signal.png');
  background-size: cover;
  height: 40px;
  width: 40px;
  top: 36px;
  right: 10px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  position: relative;
  height: 150px; 
  width: 150px;
  background: white;
}
.profile-img:before {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
}

.profile-img, .profile-img:before {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.skills {
  margin: 0 auto;
  max-width: 600px;
}

.btn {
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
  padding: .5em .75em;
  margin: .15em;
  background: transparent;
  color: var(--btn-font-color);
  font-weight: 200;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-bg-color);
}

.modal {
  display: none;
}

.modal.show {
  display: grid;
  gap: 0 1em;
  grid-template: repeat(4, auto) / repeat(2, auto);
  grid-template-areas: 
    's . . .'
    'sName sName sName sName'
    'r r w w';
  position: absolute;
  background-color: var(--modal-bg-color);
  top: 50%;
  right: 30%;
  padding: 10px;
  border-radius: 5px;
}

#close-modal {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: var(--modal-close-bg-color);
}

#close-modal:hover {
  color: var(--modal-close-hover-color);
}

.modal + p {
  grid-area: s;
  margin-bottom: 0;
}

.modal h2 {
  font-size: 1.1rem;
  grid-area: sName;
  margin-top: -15px;
}

.recommendations {
  grid-area: r;
}

.rec-weight {
  grid-area: w;
}